.appTitle{
    text-align: center;
    color: #6f4417;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3)
}


.recipeContainer{
    overflow: hidden;
    padding: 2%;
    background: #d2bd81;
    border-radius: 25px;
}

.recipeContainer h2{
    color: #6b3019;
}