li {
  list-style: none;
}

.sidebar {
  padding: 2%;
  background: #b3944b;
  border-radius: 25px;
}
.input-group-prepend {
  padding: 2%;
  margin-right: 0.2rem;
  font-size: 1.5rem;
  color: rgb(185, 185, 185);
}

.recipe-name-list {
  font-family: "Mukta Mahee", sans-serif;
  font-size: 1.4rem;
  color: #5a2c2c;
  cursor: pointer;
}
.recipe-name-list:hover {
  color: #fff;
}

.fa-search{
  color: #6f4417;
}

.add-recipe{
  margin-top: 2%;
  text-align: center;
}
